week-05-automl-training/workflow.json
{
  "name": "Week 5 - Generic vs Fine-Tuned Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "9a2d10ae-4b64-4512-a7fe-3596a6db9241",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appHSQGygkQ8JH3v1",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appHSQGygkQ8JH3v1"
        },
        "table": {
          "__rl": true,
          "value": "tblixF5214KQsTlFz",
          "mode": "list",
          "cachedResultName": "Fine-tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appHSQGygkQ8JH3v1/tblixF5214KQsTlFz"
        },
        "filterByFormula": "={input_text} != \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "dc4585d3-688d-49fe-a6a3-64091fa2e34e",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "sMQNdUrKXyQev3L4",
          "name": "Airtable Personal Access Token account 32"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "772d5404-c1ff-4257-9377-13e8b2ea70ba",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1168,
        656
      ],
      "id": "a2e2abbb-6217-4e23-bfe3-489ff76b117a",
      "placeholder": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={\n \"inputs\": \"{{ $json.fields.input_text }}\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        -384
      ],
      "id": "a6be3dd3-f58b-4811-b6cb-610169477125",
      "name": "Generic Sentiment",
      "credentials": {
        "httpHeaderAuth": {
          "id": "HWdccPUY8SkhP1iq",
          "name": "Header Auth account 33"
        },
        "huggingFaceApi": {
          "id": "zXytLjVCr1it4rJB",
          "name": "HuggingFaceApi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "717e804d-a186-4d08-9dd2-e5a151f1b9a8",
              "name": "generic_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "4d7233ae-b30b-457a-b94d-a5904f1eef49",
              "name": "generic_score",
              "value": "={{$json[0].score}}",
              "type": "string"
            },
            {
              "id": "6aab6b56-f879-42a3-aa29-7a8d0201661a",
              "name": "input_text",
              "value": "={{ $('Search records').item.json.input_text }}",
              "type": "string"
            },
            {
              "id": "2e2c5084-6791-4a47-bacf-92757e4df955",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -384
      ],
      "id": "95d81417-4f50-429c-8923-eac462074d49",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/ealvaradob/bert-finetuned-phishing",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={  \"inputs\": \"{{ $('Search records').item.json.fields.input_text }}\" }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        -176
      ],
      "id": "bf588bca-bc50-4e25-b65b-70f90bf736b0",
      "name": "FIne-Tuned A",
      "credentials": {
        "huggingFaceApi": {
          "id": "zXytLjVCr1it4rJB",
          "name": "HuggingFaceApi"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/mrm8488/bert-tiny-finetuned-sms-spam-detection",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={  \"inputs\": \"{{ $('Search records').item.json.fields.input_text }}\" }"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        688,
        16
      ],
      "id": "a8876d28-9bc3-4277-a190-1f0894181fc7",
      "name": "FIne-Tuned B",
      "credentials": {
        "huggingFaceApi": {
          "id": "zXytLjVCr1it4rJB",
          "name": "HuggingFaceApi"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35550496-20c0-4c51-b61f-4953c8fb9ea8",
              "name": "finetuned_b_label",
              "value": "=  {{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "302dfe51-00c5-4a89-bf5f-bcb9221a6be9",
              "name": "finetuned_b_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        16
      ],
      "id": "525c4c73-24c5-4a5a-8b38-63650d75ddd9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        -176
      ],
      "id": "ba406c80-38bb-4040-98f7-37f5a88bb4dd",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "35550496-20c0-4c51-b61f-4953c8fb9ea8",
              "name": "finetuned_a_label",
              "value": "=  {{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "302dfe51-00c5-4a89-bf5f-bcb9221a6be9",
              "name": "finetuned_a_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -176
      ],
      "id": "3eea74e6-5063-4659-8a18-3ea43a7d67b8",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appHSQGygkQ8JH3v1",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appHSQGygkQ8JH3v1"
        },
        "table": {
          "__rl": true,
          "value": "tblixF5214KQsTlFz",
          "mode": "list",
          "cachedResultName": "Fine-tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appHSQGygkQ8JH3v1/tblixF5214KQsTlFz"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "finetuned_b_label": "={{ $json.finetuned_b_label }}",
            "finetuned_b_score": "={{ $json.finetuned_b_score }}",
            "generic_score": "={{ $json.generic_score }}",
            "generic_label": "={{ $json.generic_label }}",
            "id": "={{ $json.record_id }}",
            "finetuned_a_label": "={{ $json.finetuned_a_label }}",
            "finetuned_a_score": "={{ $json.finetuned_a_score }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "generic_label",
              "displayName": "generic_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_score",
              "displayName": "generic_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_label",
              "displayName": "finetuned_a_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_score",
              "displayName": "finetuned_a_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_label",
              "displayName": "finetuned_b_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_score",
              "displayName": "finetuned_b_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner",
              "displayName": "winner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1552,
        -176
      ],
      "id": "469b267e-858d-4ca0-bb13-d38f3cbe6e55",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "sMQNdUrKXyQev3L4",
          "name": "Airtable Personal Access Token account 32"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generic Sentiment",
            "type": "main",
            "index": 0
          },
          {
            "node": "FIne-Tuned A",
            "type": "main",
            "index": 0
          },
          {
            "node": "FIne-Tuned B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generic Sentiment": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIne-Tuned A": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FIne-Tuned B": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "af4d02c8-865f-4198-8a38-b714ef75f201",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "sS0KYLENojXfsO8s",
  "tags": []
}